.qrlogin-modal-header {
    padding: 16px;
}

.qrlogin-modal-filepaste {
    width: 30rem;
    height: 13rem;
    border-radius: 1rem;
    background-color: var(--background-secondary);
    border-style: dashed;
    border-color: var(--background-modifier-accent);
    border-width: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: 200ms background-color ease-in-out,
        200ms border-color ease-in-out, 200ms opacity ease-in-out;
}

.qrlogin-modal-filepaste * {
    pointer-events: none;
}

.qrlogin-modal-filepaste-drop {
    background-color: var(--mention-background);
}

.qrlogin-modal-filepaste-disabled {
    background-color: var(--background-secondary) !important;
    opacity: 0.5;
    cursor: unset;
}

.qrlogin-modal-button {
    margin: 1rem 0;
    width: 100%;
}

.qrlogin-device-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.qrlogin-device-image {
    height: 8rem;
    user-select: none;
}

.qrlogin-device-header {
    margin: 6px 0 12px;
}

.qrlogin-device-confirm {
    margin-top: 18px;
    width: 20rem;
    background: linear-gradient(
        to right,
        var(--button-danger-background) calc(var(--progress) - 1%),
        var(--button-danger-background-active) var(--progress)
    ) !important;

    --progress: 0%;
}

.qrlogin-device-footer {
    justify-content: space-between;
}

.qrlogin-settings-btns {
    display: flex;
    align-items: center;
    gap: 8px;
}
